.title-product-branch {
    background-color: black;
    color: white;
    width: fit-content;
    margin-left: 15px;
    padding: 5px 20px;
}

#product-home {
    margin-top: 20px;
}

#product-name {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
