{% extends 'layouts/base.html' %}
{% load static %}
{% block breadcum %}
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs-main">
        <ol class="breadcrumb">
          <li class="active">Home</li>
          <li class="active">Login</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="shoes">
    <div class="container">
      <div class="product-one">
        {% for item in data %}
          {% if item.products %}
            <h1 class="title-product-branch">{{ item.brand_name }}</h1>
            {% for product in item.products %}
              <div class="col-md-3 product-left" id="product-home">
                <div class="p-one simpleCart_shelfItem">
                  <a href="{% url 'product-detail' product_id=product.id %}">
                    <img src="{{ product.image_link }}" alt=""/>
                    <div class="mask">
                      <span>Quick View</span>
                    </div>
                  </a>
                  <h4 id="product-name">{{ product.name }}</h4>
                  <p><a class="item_add" href="#"><span class="item_price">${{ product.price }}</span></a></p>
                </div>
              </div>
            {% endfor %}
            <div class="clearfix"></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery.miranda.min.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
