{% extends 'layouts/base.html' %}
{% load static %}
{% block breadcum %}
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li class="active">Home</li>
				<li class="active">Login</li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="product">
	<div class="container">
		<div class="product-main">
			<div class="col-md-3 p-right single-right">
				<h3>Categories</h3>
				<ul class="product-categories">
					<li><a href="#">Blucher Shoe</a> <span class="count">(14)</span></li>
					<li><a href="#">Clog Shoe</a> <span class="count">(2)</span></li>
					<li><a href="#">Snow Boot Shoe</a> <span class="count">(2)</span></li>
					<li><a href="#">Galesh Shoe</a> <span class="count">(11)</span></li>
					<li><a href="#">pataugas Shoe</a> <span class="count">(3)</span></li>
					<li><a href="#">Jazz Shoe</a> <span class="count">(3)</span></li>
				</ul>
				<h3>Colors</h3>
				<ul class="product-categories">
					{% for color in colors.result %}
						<li><a href="?color={{color.color}}">{{ color.color }}</a> <span class="count">({{ color.count }})</span></li>
					{% endfor %}
				</ul>
				<h3>Sizes</h3>
				<ul class="product-categories">
					{% for size in sizes.result %}
						<li><a href="?size={{size.size}}">{{ size.size }}</a> <span class="count">({{ size.count }})</span></li>
					{% endfor %}
				</ul>
			</div>
			<!-- order -->
			<nav class="col-md-9 p-left" style="margin-bottom: 10px;">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="?sort=-created_at">Hàng mới<span class="sr-only">(current)</span></a></li>
							<li><a href="">Hàng bán chạy</a></li>
							<li><a href="?sort=price_desc">Giá cao</a></li>
							<li><a href="?sort=price_asc">Giá thấp</a></li>
						</ul>
						<form class="navbar-form navbar-left">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" style="width:310px">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</nav>
			<div class="col-md-9 p-left">
				<div class="product-one">
					{% for product in products.result %}
          <div class="col-md-4 product-left single-left">
              <div class="p-one simpleCart_shelfItem">
                <a href="{% url 'product-detail' product.id %}">
                  {% if product.image_link == 'image_not_found' or product.image_link is None %}
                    <img src="{% static 'images/shoes-1.png' %}" alt="" />
                  {% else %}
                    <img src="{{ product.image_link }}" alt="" />
                  {% endif %}
                  <div class="mask mask1">
                    <span>Quick View</span>
                  </div>
                </a>
                <h4>{{ product.name }}</h4>
                <p><a class="item_add" href="#"><i></i> <span class=" item_price">${{ product.price }}</span></a></p>
              </div>
            </div>
					{% endfor %}
					<div class="clearfix"> </div>
				</div>
			</div>
			{% if products.links.has_other_pages %}
			<nav aria-label="Page navigation example" style="float: right;margin-right: 28px;">
				<ul class="pagination">
					{% if products.links.has_previous %}
						<li class="page-item"><a class="page-link" href="#">Previous</a></li>
					{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
					{% endif %}
					{% with ''|center:products.links.num_pages as range %}
						{% for _ in range %}
							<li class="page-item"><a class="page-link" href="{% url 'products' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
						{% endfor %}
					{% endwith %}
					{% if products.links.has_next %}
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
					{% endif %}
				</ul>
			</nav>
			{% endif %}

			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.miranda.min.js' %}"></script>
{% endblock %}
