{% load static %}
<div class="top-header">
  <div class="container">
    <div class="top-header-main">
      <div class="col-md-4 top-header-left">
        <div class="search-bar">
          <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
          <input type="submit" value="">
        </div>
      </div>
      <div class="col-md-4 top-header-middle">
        <a href="index.html"><img src="{% static 'images/logo-4.png' %}" alt="" /></a>
      </div>
      <div class="col-md-4 top-header-right">
        <div class="cart box_1">
          <a href="{% url 'cart' %}">
            <h3>
              Your Cart
              <img src="{% static 'images/cart-1.png' %}" alt="" />
            </h3>
          </a>
          {% if request.COOKIES.token %}
          <div class="dropdown">
            <a class="dropbtn">
              <h3 id="profile-shortcut">
                Your Profile
                <i id="icon-user" class="fas fa-user-circle"></i>
              </h3>
            </a>
            <div class="dropdown-content">
              <a href="{% url 'profile' %}">Profile</a>
              <a href="{% url 'transaction' %}">Transaction History</a>
              <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
          {% else %}
            <a href="{% url 'login' %}">
              <h3>
                Login
              </h3>
            </a>
          {% endif %}
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--top-header-->
<!--bottom-header-->
<div class="header-bottom">
  <div class="container">
    <div class="top-nav">
      <ul class="memenu skyblue">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li class="grid"><a href="#">Men</a>
          <div class="mepanel">
            <div class="row">
              <div class="col6 me-one" id="list-brand">
                <h4>Popular Brands</h4>
                <ul></ul>
              </div>
            </div>
          </div>
        </li>
        <li class="grid"><a href="#">Women</a>
          <div class="mepanel">
            <div class="row">
              <div class="col6 me-one" id="list-brand">
                <h4>Popular Brands</h4>
                <ul></ul>
              </div>
            </div>
          </div>
        </li>
        <li class="grid"><a href="#">Kids</a>
          <div class="mepanel">
            <div class="row">
              <div class="col6 me-one" id="list-brand">
                <h4>Popular Brands</h4>
                <ul></ul>
              </div>
            </div>
          </div>
        </li>
        <li class="grid"><a href="#">Sports</a>
          <div class="mepanel">
            <div class="row">
              <div class="col6 me-one" id="list-brand">
                <h4>Popular Brands</h4>
                <ul></ul>
              </div>
            </div>
          </div>
        </li>
        <li class="grid"><a href="#">Brands</a>
          <div class="mepanel">
            <div class="row">
              <div class="col6 me-one" id="list-brand">
                <h4>Popular Brands</h4>
                <ul></ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

{% block script %}
  <script src="{% static 'js/brand.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}