{% extends 'layouts/base.html' %}

{% block breadcum %}
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li class="active">Home</li>
        <li class="active">Login</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="account">
  <div class="container">
    <div class="account-bottom">
      <div class="col-md-6 account-left">
        <form>
          <div class="account-top heading">
            <h3>LOGIN</h3>
          </div>
          <div class="address">
            <span>Username</span>
            <input type="text">
          </div>
          <div class="address">
            <span>Password</span>
            <input type="text">
          </div>
          <div class="address">
            <a class="forgot" href="#">Forgot Your Password?</a>
            <input type="submit" value="Login">
          </div>
        </div>
      </form>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
{% endblock %}