{% extends 'layouts/base.html' %}
{% load static %}
{% block breadcum %}
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs-main">
        <ol class="breadcrumb">
          <li class="active">Home</li>
          <li class="active">User</li>
          <li class="active">Profile</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
x
{% block content %}
  <div class="single contact">
    <div class="container">
      <div class="single-main">
        <div class="col-md-12 single-main-left">
          <div class="sngl-top">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
              <div class="profile_img">
                <div id="crop-avatar">

                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view" src="{{ data.image_profile }}" alt="Avatar"
                       title="Change the avatar">
                  <label for="upload" id="label-avata" style="display: none;"> <span
                          class="glyphicon glyphicon-folder-open center"
                          aria-hidden="true"></span>
                    <input type="file" id="upload">
                  </label>
                </div>
              </div>
            </div>

            <div class="col-md-8 tab-pane fade active in" id="tab_content3" aria-labelledby="profile-tab">
              <form id="profile-form" method="post" action="{% url 'profile' %}" enctype="multipart/form-data"
                    class="form-horizontal form-label-left" novalidate="">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fullname">UserName </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="username" name="username" required="required"
                           class="form-control col-md-7 col-xs-12" value="{{ data.username }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="email" name="email" required="required"
                           class="form-control col-md-7 col-xs-12"
                           readonly="readonly" value="{{ data.email }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="phone" class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="phone" name="phone_number" class="form-control col-md-7 col-xs-12" type="text"
                           value="{{ data.phone_number }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="address" name="address" class="form-control col-md-7 col-xs-12" type="text"
                           value="{{ data.address }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" style="margin-right:14px;">Avatar</label>
                  <input name="image_profile" style="width:300px" type="file" name="avatar">
                </div>
                <div class="form-group">
                  <div class="col-md-3"></div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-12 col-xs-12 btn msg-error" style="font-size: 13px; display: none;"></div>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group button-edit" style="display: block;">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <input type="submit" id="doEditProFile" class="btn btn-success"
                           value="Save">
                  </div>
                </div>
              </form>
              <div id="error-profile">
                {% if errors %}
                  {% for key, value in errors.items %}
                    <span><b>{{ key }}</b></span>
                    {% for v in value %}
                      <p>{{ v }}</p>
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>


            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/jquery.miranda.min.js' %}"></script>
  <script src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/user.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}