{% extends 'layouts/base.html' %}
{% load static %}
{% block breadcum %}
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li class="active">User</li>
        <li class="active">Transaction</li>
        <li class="active">Detail</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!--start-ckeckout-->
<div class="ckeckout">
  <div class="container">
    <div class="ckeckout-top">
      <div class=" cart-items heading">
        <h3>My Shopping Transaction Detail</h3>
        <div class="in-check">
          <ul class="unit tran-dt">
            <li style="width: 8%; text-align: center;"><span>Id</span></li>
            <li><span>Image</span></li>
            <li><span>Product Name</span></li>
            <li><span>Size</span></li>
            <li><span>Color</span></li>
            <li><span>Price</span></li>
            <li><span>Quantity</span></li>
            <div class="clearfix"> </div>
          </ul>
      {% for transactiondetail in data %}
          <ul class="cart-header transaction detail">
            <li class="id-tran stt"><span>{{ transactiondetail.id }}</span></li>
            <li class="ring-in tran"><a href="single.html" ><img src="{{ transactiondetail.variant.image_link }}" class="img-responsive" alt="" style="width:100px;height:100px;"></a>
						</li>
            <li class="list-pro detail"><a href="#"><span>{{ transactiondetail.variant.name }}<span></a></li>
            <li><span>{{ transactiondetail.variant.color }}</span></li>
            <li><span>{{ transactiondetail.variant.color }}</span></li>
            <li><span>{{ transactiondetail.variant.price }}</span></li>
            <li><span>{{ transactiondetail.quantity }}</span></li>
            <div class="clearfix"> </div>
          </ul>
      {% endfor %}                    
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-ckeckout-->
{% endblock %}