{% extends 'layouts/base.html' %}

{% block breadcum %}
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li class="active">User</li>
        <li class="active">Transaction</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!--start-ckeckout-->
<div class="ckeckout">
  <div class="container">
    <div class="ckeckout-top">
      <div class=" cart-items heading">
        <h3>My Shopping Transaction</h3>
        <div class="in-check">
          <ul class="unit">
            <li style="width: 10%"><span>Id</span></li>
            <li style="width: 30%"><span>Product Names +</span></li>
            <li><span>Total Price</span></li>
            <li><span>Date created</span></li>
            <li><span>Status</span></li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header transaction">
            <li class="id-tran"><span>1</span></li>
            <li class="list-pro"><a href="#"><span>Bút, Viết, Sách...</span></a></li>
            <li><span>$ 290.00</span></li>
            <li><span>21/01/2019</span></li>
            <li><span class="label label-default status">Cancel</span></li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header transaction">
            <li class="id-tran"><span>2</span></li>
            <li class="list-pro"><a href="#"><span>Bút, Viết, Sách...</span></a></li>
            <li><span>$ 290.00</span></li>
            <li><span>21/01/2019</span></li>
            <li><span class="label label-warning status">Processing</span></li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header transaction">
            <li class="id-tran"><span>3</span></li>
            <li class="list-pro"><span>Bút, Viết, Sách...</span></li>
            <li><span>$ 290.00</span></li>
            <li><span>21/01/2019</span></li>
            <li><span class="label label-info status">Delivery</span></li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header transaction">
            <li class="id-tran"><span>4</span></li>
            <li class="list-pro"><span>Bút, Viết, Sách...</span></li>
            <li><span>$ 290.00</span></li>
            <li><span>21/01/2019</span></li>
            <li><span class="label label-success status">Success</span></li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header transaction">
            <li class="id-tran"><span>5</span></li>
            <li class="list-pro"><span>Bút, Viết, Sách...</span></li>
            <li><span>$ 290.00</span></li>
            <li><span>21/01/2019</span></li>
            <li><span class="label label-success status">Success</span></li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header transaction">
            <li class="id-tran"><span>6</span></li>
            <li class="list-pro"><span>Bút, Viết, Sách...</span></li>
            <li><span>$ 290.00</span></li>
            <li><span>21/01/2019</span></li>
            <li><span class="label label-success status">Success</span></li>
            <div class="clearfix"> </div>
          </ul>
          <ul class="cart-header transaction">
            <li class="id-tran"><span>7</span></li>
            <li class="list-pro"><span>Bút, Viết, Sách...</span></li>
            <li><span>$ 290.00</span></li>
            <li><span>21/01/2019</span></li>
            <li><span class="label label-success status">Success</span></li>
            <div class="clearfix"> </div>
          </ul>                    
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-ckeckout-->
{% endblock %}