{% extends 'layouts/base.html' %}
{% load static %}
{% block breadcum %}
  <div class="breadcrumbs">
    <div class="container">
      <div class="breadcrumbs-main">
        <ol class="breadcrumb">
          <li class="active">Home</li>
          <li class="active">Cart</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <!--start-ckeckout-->
  <div class="ckeckout">
    <div class="container">
      <div class="ckeckout-top">
        <div class=" cart-items heading">
          <h3>My Shopping Bag</h3>
          <div class="in-check">
            <ul class="unit">
              <li><span>Item</span></li>
              <li><span>Product Name</span></li>
              <li><span>Unit Price</span></li>
              <li><span>Quantity</span></li>
              <div class="clearfix"></div>
            </ul>
            {% if not data %}
              <div id="cart-content">
                <script>
                  renderLocalCart()
                </script>
              </div>
            {% endif %}
{#            <ul id="test" class="cart-header">#}
{#              <div class="close"></div>#}
{#              <li class="ring-in"><a href="single.html"><img src="{% static 'images/s-4.jpg' %}" class="img-responsive"#}
{#                                                             alt=""></a>#}
{#              </li>#}
{#              <li><span>Woo Dress</span></li>#}
{#              <li><span>$ 360.00</span></li>#}
{#              <li>#}
{#                <div class="input-group">#}
{#                  <input type="button" value="-" id="btn-minus" class="button-minus" data-field="quantity">#}
{#                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">#}
{#                  <input type="button" value="+" id="btn-plus" class="button-plus" data-field="quantity">#}
{#                </div>#}
{#              </li>#}
{#              <div class="clearfix"></div>#}
{#            </ul>#}
          </div>
          <button type="button" id="btn-cart-done" class="btn btn-success">DONE</button>
        </div>
      </div>
    </div>
  </div>
  <!--end-ckeckout-->
{% endblock %}

{% block script %}
  <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/cart.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}
